<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap" rel="stylesheet">
  </head>
  <body>
    <content>
      <h1>Workbot answers</h1>

      {{{body}}}

      <footer>
        Workbot is a <a href="https://citizenai.nz">Citizen AI</a> project
      </footer>
    </content>
  </body>

</html>