<script type="application/ld+json">
{

}
</script>
{{!-- <ul class="answers">
  {{#each topics}}
  <li><a href="{{link}}">{{question}}</a></li>
  {{/each}}
</ul> --}}


<html>
<head>
<title>Workbot – Frequently asked questions about employment law (FAQ)</title>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
  {{#each topics}}
    {
      "@type": "Question",
      "name": "{{question}}",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "{{answer}}"
      }
    }
  {{/each}}
  ]
}
</script>
</head>
<body>
</body>
</html>